@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family: 'Muli';
}

p {
  font-size: 12px;
}

small {
  font-size: 11px;
  display: block;
  margin-top: 5px;
}

.App {
  width: 70%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px 5px 10px 10px;
  border-radius: 5px;
  border: 2px solid #828282;
}

input:hover {
  border: 2px solid #333 !important;
}

input:focus {
  outline: none;
  border: 2px solid #2962FF !important;
  color: #2962FF !important;
}

.input-container:hover label, .input-container:active:hover input {
  color: #333 !important;
}

.input-container:active:hover input {
  border: 2px solid #333 !important;
}

input:invalid:focus {
  border: 2px solid #d94949 !important;
  color: #d94949 !important;
}

input::placeholder {
  font-weight: 600;
}

input:disabled {
  opacity: 0.5;
}

input:disabled:hover {
  border: 2px solid #828282 !important;
}

.grid {
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}

.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.two-column {
  grid-template-columns: 1fr 1fr;
}

textarea {
  width: 50%;
  resize: none;
  padding: 10px 5px 10px 10px;
  border-radius: 10px;
}

textarea::placeholder {
  font-weight: 600;
}

.form-group {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 33px;
}

.startIcon {
  left: 10px;
}

.endIcon {
  left: 170px;
}