@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family: 'Muli';
}

p {
  font-size: 12px;
}

.App {
  width: 70%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px 5px 10px 10px;
  border-radius: 5px;
  border: 2px solid #828282;
}

input:hover {
  border: 2px solid #333 !important;
}

input:focus {
  outline: none;
  border: 2px solid #2962FF !important;
  color: #2962FF !important;
}

.input-container:hover label, .input-container:hover input {
  color: #333 !important;
}

.input-container:hover input {
  border: 2px solid #333 !important;
}

input:invalid:focus {
  border: 2px solid #d94949 !important;
  color: #d94949 !important;
}

input::placeholder {
  font-weight: 600;
}

.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}